# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Test and coverage artifacts
htmlcov/
.tox/
.nox/
.coverage
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Figures
figures

# Debugging files
things_to_try.py